<html>
    <head th:replace="layout/plantilla :: head">
        <title>Restaurante La Hoja de Palma</title>
    </head>
    <body>
       <header th:replace="layout/plantilla :: header"/>
        <br>
        <br>
        <h2 class="titulo">Express</h2>
        <br>
        <br>
        <p class="platillos_principales">Platillos principales</p>
        <div id="producto">
            <div id="platillo1" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Casado</strong></p>
                <br>
                <p>Arroz, Frijoles y...</p>
                <br>
                <p><i>₡3.500</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/casado}" role="button">Ordenar</a>
            </div>
            <div id="imag_platillo1">
                <img src="/images/casado.jpg" width="235" height="175"/>
            </div>
            <div id="platillo2" style="padding-left: 1%;">
                <p style="font-size: 20px"><strong>Spaghetti con <br> Albóndigas</strong></p>
                <br>
                <p>Fideos con Salsa...</p>
                <br>
                <p><i>₡2.000</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/spaghetti}" role="button">Ordenar</a>
            </div>
            <div id="imag_platillo2">
                <img src="/images/spaghetti.jpg" width="235" height="175"/>
            </div>
            <div id="platillo3" style="padding-left: 1%;">
                <p style="font-size: 20px"><strong>Pescado <br> Entero</strong></p>
                <br>
                <p>Pargo Rojo Frito...</p>
                <br>
                <p><i>₡3.000</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/pescado}" role="button">Ordenar</a>
            </div>
            <div id="imag_platillo3">
                <img src="/images/pescado.jpg" width="235" height="175"/>
            </div>
        </div>
        <p class="acompañamientos">Acompañamientos</p>
        <div id="producto2">
            <div id="acompañamiento1" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Chicharrones</strong></p>
                <br>
                <p>Costilla de Cerdo...</p>
                <br>
                <p><i>₡1.500</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/chicharrones}" role="button">Ordenar</a>
            </div>
            <div id="imag_acompañamiento1">
                <img src="/images/chicharrones.jpg" width="235" height="175"/>
            </div>
            <div id="acompañamiento2" style="padding-left: 1%;">
                <p style="font-size: 20px"><strong>Frijoles <br> Molidos</strong></p>
                <br>
                <p>Frijoles Molidos con...</p>
                <br>
                <p><i>₡1.300</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/frijoles}" role="button">Ordenar</a>
            </div>
            <div id="imag_acompañamiento2">
                <img src="/images/frijoles.png" width="235" height="175"/>
            </div>
            <div id="acompañamiento3" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Nachos</strong></p>
                <br>
                <p>Tortillas Fritas en...</p>
                <br>
                <p><i>₡1.300</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/nachos}" role="button">Ordenar</a>
            </div>
            <div id="imag_acompañamiento3">
                <img src="/images/nachos.jpg" width="235" height="175"/>
            </div>
        </div>
        <p class="postres">Postres</p>
        <div id="producto3">
            <div id="postre1" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Tres Leches</strong></p>
                <br>
                <p>Pastel bañado con...</p>
                <br>
                <p><i>₡1.500</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/tres_leches}" role="button">Ordenar</a>
            </div>
            <div id="imag_acompañamiento1">
                <img src="/images/tres leches.jpg" width="235" height="175"/>
            </div>
            <div id="postre2" style="padding-left: 1%;">
                <p style="font-size: 20px"><strong>Cono de <br> Helado</strong></p>
                <br>
                <p>Sabores a elegir:...</p>
                <br>
                <p><i>₡1.000</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/cono}" role="button">Ordenar</a>
            </div>
            <div id="imag_postre2">
                <img src="/images/helado.jpg" width="235" height="175"/>
            </div>
            <div id="postre3" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Gelatina</strong></p>
                <br>
                <p>Sabores a elegir:....</p>
                <br>
                <p><i>₡1.000</i></p>
                <br>
                <a class="btn btn-warning" th:href="@{/orden/gelatina}" role="button">Ordenar</a>
            </div>
            <div id="imag_postre3">
                <img src="/images/gelatina.jpg" width="235" height="175"/>
            </div>
        </div>
       <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
