<html>
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br>
        <br>
        <h2 class="titulo">Spaghetti con Albóndigas</h2>
        <p class="descripcion_orden">Fideos con Salsa de Tomate y Albóndigas de Carne</p>
        <p class="precio_orden"><i>₡2.000</i></p>
        <section class="contenido_orden">
            <br>
            <img src="/images/spaghetti.jpg" width="280" height="150"/>
            <br>
            <br>
            <br>
            <h3 style="font-size: 36px; color: whitesmoke">Datos para la orden</h3>
            <br>
            <br>
             <form th:action="@{/orden/guardar}" th:object="${orden}"
                              method="POST" style="width: 25%" class="was-validated">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" required="true" th:field="*{nombre}">
                    <label for="nombre">Nombre</label>
                </div>
                <br>
                <br>
                <div class="form-floating">
                    <input type="text" class="form-control" id="apellidos" placeholder="apellidos" required="true" th:field="*{apellidos}">
                    <label for="apellidos">Apellidos</label>
                </div>
                <br>
                <br>
                <div class="form-floating">
                    <input type="number" class="form-control" id="cedula" placeholder="Cédula" required="true" th:field="*{cedula}">
                    <label for="cedula">Cédula</label>
                </div>
                <br>
                <br>
                <div class="form-floating">
                    <input type="tel" class="form-control" id="telefono" placeholder="Telefono" required="true" th:field="*{telefono}">
                    <label for="telefono">Telefono</label>
                </div>
                <br>
                <br>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Dirección" id="direccion" style="height: 100px" required="true" th:field="*{direccion}"></textarea>
                    <label for="floatingTextarea">Dirección</label>
                </div>
                <br>
                <br>
                <label style="color:whitesmoke; font-size: 24px">Método de pago</label>
                <br>
                <br>
                <div class="form-check form-check-inline" style="color:whitesmoke; font-size: 24px">
                    <input class="form-check-input" type="radio" name="pago" id="opcionEfectivo" value="option1">
                    <label class="form-check-label" for="opcionEfectivo">Efectivo</label>
                </div>
                <div class="form-check form-check-inline" style="color:whitesmoke; font-size: 24px">
                    <input class="form-check-input" type="radio"  name="pago" id="opcionTarjeta" value="option2" 
                           data-bs-toggle="collapse" data-bs-target="#datosTarjeta" aria-expanded="false" 
                           aria-controls="datosTarjeta">
                    </input>
                    <label class="form-check-label" for="opcionTarjeta">Tarjeta</label>
                </div>
                <br>
                <br>
                <br>
                <div class="collapse" id="datosTarjeta">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="titularTarjeta" placeholder="Titular de la tarjeta" th:field="*{titularTarjeta}">
                        <label for="titularTarjeta">Titular de la tarjeta</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="numTarjeta" placeholder="Número de la tarjeta" th:field="*{numTarjeta}">
                        <label for="numTarjeta">Número de la tarjeta</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-floating">
                        <input type="month" class="form-control" id="fechaExpiracion" placeholder="Fecha de expiración" th:field="*{fechaExpiracion}">
                        <label for="fechaExpiracion">Fecha de expiración</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="cvc" placeholder="CVC" th:field="*{cvc}">
                        <label for="cvc">CVC</label>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="codDescuento" placeholder="Código de Descuento" th:field="*{codDescuento}">
                    <label for="codDescuento">Código de descuento</label>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Comprar</button>
            </form>
        </section>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>