#encabezado h1 {
    display: inline;
}
.descripcion {
    font-size: 18px;
}

#menu a:visited {
    color: navy;
}
#menu a:hover {
    background: green;
    color: white;
}
#barraLateral {
    position: absolute;
    top: 12%;
    right: 0;
    height: auto;
    width: 15%;
    background-color: #A68B03;
    color: whitesmoke;
    padding: 2% 1% 2% 1%;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 0;
    height: auto;
    width: 85%;
    background-color: #403001;
    color: whitesmoke;
    overflow: visible;
    padding: 2%;
}

#contenidoCompleto {
    position: absolute;
    top: 12%;
    left: 0%;
    height: auto;
    width: 100%;
    background-color: #403001;
    color: whitesmoke;
    overflow: visible;
}



