<html xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <h2 class="titulo" style="font-family: inherit">Reportes</h2>
        
        <section class="cccontenido">
            
            <div style="color: whitesmoke; font-size: 20px;
                 font-family: inherit"> 
                <p > Bienvenido Administrador, aquí podrá ver el 
                    reporte histórico de las reservaciones de mesa que se han realizado 
                    y las órdenes que han hecho nuestros clientes</p> 
                
                <p> Cabe mencionar que este apartado es para uso exclusivo del Aministrador </p>
            </div>
            <section class="py-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/reportes/ReporteReservas}"  
                               class="btn btn-warning">
                                <i class="fas fa-file"></i> Reporte Reserva </a>
                        </div>
                    </div>
                </div> 
            </section>

            <section class="py-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/reportes/ReporteOrdenes}"  
                               class="btn btn-warning">
                                <i class="fas fa-file"></i> Reporte Orden </a>
                        </div>
                    </div>
                </div> 
            </section>
            <aside style="text-align: center">
            <img src="/images/Palmera.jpeg" width="1000" height="550"/>
            </aside>
        </section>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
