<html>
    <head>
        <title>La Hoja de Palma</title>
        <meta charset="UTF-8">
        <link href="css/navegacion.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a th:href="@{/}" class="nav-link logo">Restaurante La Hoja de Palma</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/menu}">Menú</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/recetas}">Recetas</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/reservaciones}">Reservaciones</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/ubicacion}">Ubicación y Horario</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/express}">Express</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2 class="titulo">Menú</h2>

            <!--                              ENTRADAS                       -->
            <!--                              ENTRADAS                       -->
            <!--                              ENTRADAS                       -->
            <!--                              ENTRADAS                       -->

            <h2 id="entradas">Entradas</h2>
            <aside id="chifrijo">
                <b style="font-size: 23px">
                    <p>Chifrijo</p>
                    <br>
                </b>
                <p>Frijoles con su caldo, Chicharrón en trocitos, Arroz, Chimichurri/pico de gallo y Doraditas</p>
                <i>Precio: 1500 colones</i>
            </aside>
            <aside id="imag_chifrijo">
                <img src="/images/Chifrijo.jpg" width="280" height="150"/>
            </aside>
            <aside id="patacones">
                <b style="font-size: 23px">
                    <p>Patacones</p>
                    <br>
                </b>
                <p>Plátanos verdes fritos en aceite</p>
                <i>Precio: 2000 colones</i>
            </aside>
            <aside id="imag_patacones">
                <img src="/images/patacones.jpg" width="280" height="150"/>
            </aside>
            <aside id="papas_fritas">
                <b style="font-size: 23px">
                    <p>Papas Fritas</p>
                    <br>
                </b>
                <p>Papas cortadas en tiras fritas en aceite</p>
                <i>Precio: 2000 colones</i>
            </aside>
            <aside id="imag_papas_fritas">
                <img src="/images/papas.jpg" width="280" height="150"/>
            </aside>

            <!--                              PLATILLOS PRINCIPALES                   -->
            <!--                              PLATILLOS PRINCIPALES                   -->
            <!--                              PLATILLOS PRINCIPALES                   -->
            <!--                              PLATILLOS PRINCIPALES                   -->

            <h2 id="platillos_principales">Platillos Principales</h2>
            <aside id="casado">
                <b style="font-size: 23px">
                    <p>Casado</p>
                    <br>
                </b>
                <p>Arroz, Frijoles y un Plátano Dulce Frito, Acompañado de Carne de Vacuno, Cerdo, Pescado o Pollo.</p>
                <i>Precio: 3500 colones</i>
            </aside>
            <aside id="imag_casado">
                <img src="/images/casado.jpg" width="280" height="150"/>
            </aside>
            <aside id="spaghetti">
                <b style="font-size: 23px">
                    <p>Spaghetti con Albóndigas</p>
                    <br>
                </b>
                <p>Fideos con Salsa de Tomate y Albóndigas de Carne</p>
                <i>Precio: 2000 colones</i>
            </aside>
            <aside id="imag_spaghetti">
                <img src="/images/spaghetti.jpg" width="280" height="150"/>
            </aside>
            <aside id="pescado">
                <b style="font-size: 23px">
                    <p>Pescado Entero</p>
                    <br>
                </b>
                <p>Pargo Rojo Frito en Aceite con Patacones</p>
                <i>Precio: 3000 colones</i>
            </aside>
            <aside id="imag_pescado">
                <img src="/images/pescado.jpg" width="280" height="150" style="margin-bottom: 24%"/>
            </aside>

            <!--                              POSTRES                    -->
            <!--                              POSTRES                    -->
            <!--                              POSTRES                    -->
            <!--                              POSTRES                    -->

            <h2 id="postres">Postres</h2>
            <aside id="tres_leches">
                <b style="font-size: 23px">
                    <p>Tres Leches</p>
                    <br>
                </b>
                <p>Pastel bañado con tres tipos de leche: leche evaporada, crema de leche y leche condensada.</p>
                <i>Precio: 1500 colones</i>
            </aside>
            <aside id="imag_tres_leches">
                <img src="/images/tres leches.jpg" width="280" height="150"/>
            </aside>
            <aside id="helado">
                <b style="font-size: 23px">
                    <p>Cono de Helado</p>
                    <br>
                </b>
                <p>Sabores a elegir: Chocolate, Fresa, Vainilla, Chicle, Coco, Limón, Naranja, Caramelo</p>
                <i>Precio: 1000 colones</i>
            </aside>
            <aside id="imag_helado">
                <img src="/images/helado.jpg" width="280" height="150"/>
            </aside>
            <aside id="gelatina">
                <b style="font-size: 23px">
                    <p>Gelatina</p>
                    <br>
                </b>
                <p>Sabores a elegir: Uva, Fresa, Tutifruti, Coco, Limón, Naranja</p>
                <i>Precio: 1000 colones</i>
            </aside>
            <aside id="imag_gelatina">
                <img src="/images/gelatina.jpg" width="280" height="150"/>
            </aside>

            <!--                              ACOMPAÑAMIENTOS                       -->
            <!--                              ACOMPAÑAMIENTOS                       -->
            <!--                              ACOMPAÑAMIENTOS                       -->
            <!--                              ACOMPAÑAMIENTOS                       -->

            <h2 id="acompañamientos">Acompañamientos</h2>
            <aside id="chicharrones">
                <b style="font-size: 23px">
                    <p>Chicharrones</p>
                    <br>
                </b>
                <p>Costilla de Cerdo Frita en Aceite</p>
                <i>Precio: 1500 colones</i>
            </aside>
            <aside id="imag_chicharrones">
                <img src="/images/chicharrones.jpg" width="280" height="150"/>
            </aside>
            <aside id="frijoles">
                <b style="font-size: 23px">
                    <p>Frijoles Molidos</p>
                    <br>
                </b>
                <p>Frijoles Molidos con Papas Tostadas</p>
                <i>Precio: 1300 colones</i>
            </aside>
            <aside id="imag_frijoles">
                <img src="/images/frijoles.png" width="280" height="150"/>
            </aside>
            <aside id="nachos">
                <b style="font-size: 23px">
                    <p>Nachos</p>
                    <br>
                </b>
                <p>Tortillas Fritas en Triángulos con Queso</p>
                <i>Precio:1300 colones</i>es</i>
            </aside>
            <aside id="imag_nachos">
                <img src="/images/nachos.jpg" width="280" height="150"/>
            </aside>
            
            <!--                              ARROCES                     -->
            <!--                              ARROCES                     -->
            <!--                              ARROCES                     -->
            <!--                              ARROCES                     -->
            
            <h2 id="arroces">Arroces</h2>
            <aside id="camarones">
                <b style="font-size: 23px">
                        <p>Arroz con Camarones</p>
                    <br>
                </b>
                <p>Arroz, Camarones, Papas Fritas, Ensalada.</p>
                <i>Precio: 3500 colones</i>
            </aside>
            <aside id="imag_camarones">
                <img src="/images/arroz_camarones.jpg" width="280" height="150"/>
            </aside>
            <aside id="pollo">
                <b style="font-size: 23px">
                    <p>Arroz con Pollo</p>
                    <br>
                </b>
                <p>Arroz, Pollo, Frijoles Molidos, Papas Tostadas</p>
                <i>Precio: 2500 colones</i>
            </aside>
            <aside id="imag_pollo">
                <img src="/images/arroz_pollo.jpg" width="280" height="150"/>
            </aside>
            <aside id="jardinero">
                <b style="font-size: 23px">
                    <p>Arroz Jardinero</p>
                    <br>
                </b>
                <p>Arroz, Cebollino, Culantro, Cebolla</p>
                <i>Precio: 3000 colones</i>
            </aside>
            <aside id="imag_jardinero">
                <img src="/images/arroz_jardinero.jpg" width="280" height="150"/>
            </aside>
            
            <!--                              BEBIDAS                    -->
            <!--                              BEBIDAS                    -->
            <!--                              BEBIDAS                    -->
            <!--                              BEBIDAS                    -->
            
            <h2 id="bebidas">Bebidas</h2>
            <aside id="limonada">
                <b style="font-size: 23px">
                    <p>Limonada con Hierba Buena</p>
                    <br>
                </b>
                <p>Limón Mencino con Hierba Buena Fresca.</p>
                <i>Precio: 1200 colones</i>
            </aside>
            <aside id="imag_limonada">
                <img src="/images/limonb.jpg" width="280" height="150"/>
            </aside>
            <aside id="te">
                <b style="font-size: 23px">
                    <p>Té Frío Melocotón</p>
                    <br>
                </b>
                <p>Té de Melocotón Fuze Tea</p>
                <i>Precio: 1100 colones</i>
            </aside>
            <aside id="imag_te">
                <img src="/images/fuzz.jpg" width="280" height="150"/>
            </aside>
            <aside id="chocolate">
                <b style="font-size: 23px">
                    <p>Chocolate</p>
                    <br>
                </b>
                <p>Puede ser Frío o Caliente</p>
                <i>Precio: 1000 colones</i>
            </aside>
            <aside id="imag_chocolate">
                <img src="/images/chocolate.jpeg" width="280" height="150"/>
            </aside>
        </section>
        
        <section id="piePagina">
            <p>La Hoja de Palma &COPY; Derechos Reservados 2022 </p>
            <p>&phone; 2546-5598</p>
        </section>
        
    </body>
</html>
