
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
        <style>
            .contenido {
                text-align: center;
                border-radius: 10px;
                top: 0%;
                left: 0%;
                background-color: #6CCED9;
                position: fixed;
                height: 100%;
                width: 100%;
            }
        </style> 
    </head>

    <body>

        <section id="login" style="background-color: #6CCED9; left: 0%; top: 0%; position: absolute; height: 100%; width: 100%;">
            </br></br>
            <p style="font-size: 48px; text-align: center; font-family: initial">Bienvenido al Sistema Virtual de Restaurante La Hora de Palma</p>
            </br>
            <p style="font-size: 28px; text-align: center;  font-family: initial">Por favor iniciar sesión en el recuadro a continuación</p>
            </br></br>
            <div class="container">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header" style="background-color: #594B02; color: whitesmoke">
                            <h4>Iniciar Sesión</h4>
                        </div>
                        <div class="card-body" style="background-color: #A68B03; color: whitesmoke">
                            <form method="POST" th:action="@{/login}">
                                <div class="row py-1 mb-2">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-3">
                                                <label for="username">Usuario:</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" name="username" id="username"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-1 mb-2">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-3"> 
                                                <label for="password">Contraseña:</label>
                                            </div>
                                            <div class="col-4">
                                                <input type="password" name="password" id="password"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  py-1 mb-2">
                                    <button type="submit" class="btn btn-warning">Ingresar</button>                                        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </body>

</html>
