<html>
    <head>
        <title>La Hoja de Palma</title>
        <meta charset="UTF-8">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a th:href="@{/}" class="nav-link logo">Restaurante La Hoja de Palma</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/menu}">Menú</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/recetas}">Recetas</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/reservaciones}">Reservaciones</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/ubicacion}">Ubicación y Horario</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" th:href="@{/express}">Express</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <aside id="barraIzquierda1">
                <br>

                <h2 style="font-size: 48px">Menú</h2>

                <!--                              ENTRADAS                       -->
                <!--                              ENTRADAS                       -->
                <!--                              ENTRADAS                       -->
                <!--                              ENTRADAS                       -->

                <b style="font-size: 18px">
                    <h2 style="padding: 60px">Entradas</h2>
                </b>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Chifrijo</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Frijoles con su caldo, Chicharrón en trocitos, Arroz, Chimichurri/pico de gallo y Doraditas</p>
                <i style="padding-left: 60px">Precio: 1500 colones</i>

                <br><br><br><br>
                <br><br>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Patacones</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Plátanos verdes fritos en aceite</p>
                <i style="padding-left: 60px">Precio: 2000 colones</i>

                <br><br><br><br>
                <br><br><br><br>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Papas Fritas</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Papas cortadas en tiras fritas en aceite</p>
                <i style="padding-left: 60px">Precio: 2000 colones</i>
                <br><br><br><br>

                <!--                              PLATILLOS PRINCIPALES                   -->
                <!--                              PLATILLOS PRINCIPALES                   -->
                <!--                              PLATILLOS PRINCIPALES                   -->
                <!--                              PLATILLOS PRINCIPALES                   -->

                <b style="font-size: 18px">
                    <h2 style="padding: 60px">Platillos Principales</h2>
                </b>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Casado</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Arroz, Frijoles y un Plátano Dulce Frito, Acompañado de Carne de Vacuno, Cerdo, Pescado o Pollo.</p>
                <i style="padding-left: 60px">Precio: 3500 colones</i>

                <br><br><br><br>
                <br><br>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Spaghetti con Albóndigas</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Fideos con Salsa de Tomate y Albóndigas de Carne</p>
                <i style="padding-left: 60px">Precio: 2000 colones</i>

                <br><br><br><br>
                <br><br><br><br>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Pescado Entero</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Pargo Rojo Frito en Aceite con Patacones</p>
                <i style="padding-left: 60px">Precio: 3000 colones</i>
                <br><br><br><br>


                <!--                              POSTRES                    -->
                <!--                              POSTRES                    -->
                <!--                              POSTRES                    -->
                <!--                              POSTRES                    -->

                <b style="font-size: 18px">
                    <h2 style="padding: 60px">Postres</h2>
                </b>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Tres Leches</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Pastel bañado con tres tipos de leche: leche evaporada, crema de leche y leche condensada.</p>
                <i style="padding-left: 60px">Precio: 1500 colones</i>

                <br><br><br><br>
                <br><br>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Cono de Helado</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Sabores a elegir: Chocolate, Fresa, Vainilla, Chicle, Coco, Limón, Naranja, Caramelo</p>
                <i style="padding-left: 60px">Precio: 1000 colones</i>

                <br><br><br><br>
                <br><br><br><br>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Gelatina</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Sabores a elegir: Uva, Fresa, Tutifruti, Coco, Limón, Naranja</p>
                <i style="padding-left: 60px">Precio: 1000 colones</i>
                <br><br><br><br>
                <br><br><br><br>

            </aside>

            <aside id="barraIzquierda2">
                <br>
                <br><br>
                <br><br><br><br>
                <br><br><br><br>

                <!--                              ENTRADAS                       -->
                <!--                              ENTRADAS                       -->
                <!--                              ENTRADAS                       -->
                <!--                              ENTRADAS                       -->

                <img src="/images/Chifrijo.jpg" width="280" height="150"/>

                <br><br>
                <br><br>
                <img src="/images/patacones.jpg" width="280" height="150"/>

                <br><br>
                <br><br><br>
                <img src="/images/papas.jpg" width="280" height="150"/>

                <br><br><br><br>
                <br><br><br><br>
                <br><br>

                <!--                              PLATILLOS PRINCIPALES                   -->
                <!--                              PLATILLOS PRINCIPALES                   -->
                <!--                              PLATILLOS PRINCIPALES                   -->
                <!--                              PLATILLOS PRINCIPALES                   -->

                <img src="/images/casado.jpg" width="280" height="150"/>
                <br><br>
                <br><br>
                <img src="/images/spaghetti.jpg" width="280" height="150"/>
                <br><br>
                <br><br>
                <img src="/images/pescado.jpg" width="280" height="150"/>
                <br><br><br><br><br><br><br>

                <!--                              POSTRES                    -->
                <!--                              POSTRES                    -->
                <!--                              POSTRES                    -->
                <!--                              POSTRES                    -->

                <br><br><br><br>
                <img src="/images/tres leches.jpg" width="280" height="150"/>
                <br><br>
                <br><br><br>
                <img src="/images/helado.jpg" width="280" height="150"/>
                <br><br>
                <br><br><br>
                <img src="/images/gelatina.jpg" width="280" height="150"/>
                <br><br><br><br><br><br><br>

            </aside>
            <aside id="barraDerecha1">

                <br><br>
                <br>
                <br>
                <br>

                <!--                              ACOMPAÑAMIENTOS                       -->
                <!--                              ACOMPAÑAMIENTOS                       -->
                <!--                              ACOMPAÑAMIENTOS                       -->
                <!--                              ACOMPAÑAMIENTOS                       -->

                <b style="font-size: 18px">
                    <h2 style="padding: 60px">Acompañamientos</h2>
                </b>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Chicharrones</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Costilla de Cerdo Frita en Aceite</p>
                <i style="padding-left: 60px">Precio: 1500 colones</i>

                <br><br><br><br>
                <br><br>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Frijoles Molidos</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Frijoles Molidos con Papas Tostadas</p>
                <i style="padding-left: 60px">Precio: 1300 colones</i>

                <br><br><br><br>
                <br><br><br><br>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Nachos</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Tortillas Fritas en Triángulos con Queso</p>
                <i style="padding-left: 60px">Precio:1300 colones</i>
                <br><br><br><br>

                <!--                              ARROCES                     -->
                <!--                              ARROCES                     -->
                <!--                              ARROCES                     -->
                <!--                              ARROCES                     -->

                <b style="font-size: 18px">
                    <h2 style="padding: 60px">Arroces</h2>
                </b>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Arroz con Camarones</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Arroz, Camarones, Papas Fritas, Ensalada.</p>
                <i style="padding-left: 60px">Precio: 3500 colones</i>

                <br><br><br><br>
                <br><br>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Arroz con Pollo</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Arroz, Pollo, Frijoles Molidos, Papas Tostadas</p>
                <i style="padding-left: 60px">Precio: 2500 colones</i>

                <br><br><br><br>
                <br><br><br><br>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Arroz Jardinero</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Arroz, Cebollino, Culantro, Cebolla</p>
                <i style="padding-left: 60px">Precio: 3000 colones</i>
                <br><br><br><br><br><br><br><br>


                <!--                              BEBIDAS                    -->
                <!--                              BEBIDAS                    -->
                <!--                              BEBIDAS                    -->
                <!--                              BEBIDAS                    -->

                <b style="font-size: 18px">
                    <h2 style="padding: 60px">Bebidas</h2>
                </b>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Limonada con Hierba Buena</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Limón Mencino con Hierba Buena Fresca.</p>
                <i style="padding-left: 60px">Precio: 1200 colones</i>
                <br><br><br><br>
                <br><br>
                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Té Frío Melocotón</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Té de Melocotón Fuze Tea</p>
                <i style="padding-left: 60px">Precio: 1100 colones</i>

                <br><br><br><br>
                <br><br><br><br>

                <b style="font-size: 23px">
                    <p style="padding-left: 60px">Chocolate</p>
                    <br>
                </b>
                <p style="padding-left: 60px">Puede ser Frío o Caliente</p>
                <i style="padding-left: 60px">Precio: 1000 colones</i>
                <br><br><br><br>
                <br><br><br><br>
            </aside>



            <aside id="barraDerecha2">
                <br>
                <br><br>
                <br><br><br><br>
                <br><br><br><br><br>

                <!--                              ACOMPAÑAMIENTOS                       -->
                <!--                              ACOMPAÑAMIENTOS                       -->
                <!--                              ACOMPAÑAMIENTOS                       -->
                <!--                              ACOMPAÑAMIENTOS                       -->

                <img src="/images/chicharrones.jpg" width="280" height="150"/>

                <br><br>
                <br><br>
                <img src="/images/frijoles.png" width="280" height="150"/>

                <br><br>
                <br><br><br>
                <img src="/images/nachos.jpg" width="280" height="150"/>

                <br><br><br><br>
                <br><br><br><br>

                <!--                              ARROCES                     -->
                <!--                              ARROCES                     -->
                <!--                              ARROCES                     -->
                <!--                              ARROCES                     -->
                
                <img src="/images/arroz_camarones.jpg" width="280" height="150"/>
                <br><br>
                <br>
                <img src="/images/arroz_pollo.jpg" width="280" height="150"/>
                <br><br>
                <br><br>
                <img src="/images/arroz_jardinero.jpg" width="280" height="150"/>
                <br><br><br><br><br><br><br><br><br>

                <!--                              BEBIDAS                    -->
                <!--                              BEBIDAS                    -->
                <!--                              BEBIDAS                    -->
                <!--                              BEBIDAS                    -->

                <br><br><br><br>
                <img src="/images/limonb.jpg" width="280" height="150"/>
                <br><br><br>
                
                <img src="/images/fuzz.jpg" width="280" height="150"/>
                <br><br>
                <br><br><br>
                <img src="/images/chocolate.jpeg" width="280" height="150"/>
                <br><br><br><br><br><br>
            </aside>

        </section>

    </body>
</html>
