<html>
    <head th:replace="layout/plantilla :: head">
        <title>Restaurante La Hoja de Palma</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br>
        <br>
        <h2 class="titulo">Reserva</h2>

        <div id="reserva">

            <div id="reserva2" style="padding-left: 1%; padding-top: 1%"> 
                <p style="font-size: 40px;">Datos de la reserva.</p>
                <br>

                <div th:each="reserva, iterStat: ${reservas}" th:if="${iterStat.index >= iterStat.size-1}">
                <p> Reserva a nombre de: [[${reserva.nombre} + ' ' + ${reserva.apellidos}]] </p>
                <br>
                <p> Teléfono: [[${reserva.telefono}]]</p>
                <br>
                <p> Cédula: [[${reserva.cedula}]] </p>
                <br>
                <p> Cantidad de personas: [[${reserva.cant_personas}]] </p>
                <br>
                <p> Para el día: [[${reserva.dia_reserva}]] </p>
                <p>A la hora: [[${reserva.hora_reserva}]] </p>
                <br>
                <p><strong> Mesa reservada: </strong></p>
                <p> Mesa Sencilla </p>
                <br>
                <img src="/images/mesa2.jpg" width="480" height="250"/>
               <br><br>
                <a class="btn btn-warning" role="button" th:href="@{/confirmacion}">Confirmar</a>
                <br><br><br><br>
            </div>

            </div>
        </div> 




        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>

