<html>
    <head th:replace="layout/plantilla :: head">
        <title>Restaurante La Hoja de Palma</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br>
        <br>
        <h2 class="titulo">Reservaciones</h2>

        <p class="platillos_principales" style="padding-left: 4%">Tipo de mesa</p>

        <div id="mesa">

            <div id="mesa1" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Romántica</strong></p>
                <br>
                <p style="text-align: justify">Perfecta para una cita romántica con ese alguien especial y pasar un buen rato disfrutando la excelente comida.</p>
                <br>
                <div class="form-check form-switch form-check-inline" style="color:whitesmoke; font-size: 18px; color: whitesmoke">
                    <input class="form-check-input" type="radio" name="opcion" role="switch" id="opcion1" value="option1"
                           data-bs-toggle="collapse" data-bs-target="#selec1" aria-expanded="false" 
                           aria-controls="opcion1">
                    <label class="form-check-label" for="opcion1">Reservar</label>
                </div>

            </div>
            <div id="imag_mesa1">
                <img src="/images/mesa1.jpg" width="355" height="250"/>
            </div>

            <div id="mesa2" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Sencilla</strong></p>
                <br>
                <p style="text-align: justify">Ideal para venir a disfrutar de nuestra comida y pasar un buen rato entre amigos, o disfrutar de un merecido tiempo a solas.</p>
                <br>
                <div class="form-check form-switch form-check-inline" style="color:whitesmoke; font-size: 18px; color: whitesmoke">
                    <input class="form-check-input" type="radio" name="opcion" role="switch" id="opcion2" value="option2"
                           data-bs-toggle="collapse" data-bs-target="#selec2" aria-expanded="false" 
                           aria-controls="opcion2">
                    <label class="form-check-label" for="opcion2">Reservar</label>
                </div>
            </div>
            <div id="imag_mesa2">
                <img src="/images/mesa2.jpg" width="355" height="250"/>
            </div>


            <div id="mesa3" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>Ejecutiva</strong></p>
                <br>
                <p style="text-align: justify">¿Un almuerzo importante con un ejecutivo? No te preocupes, tenemos la mesa indicada para cerrar ese trato tan importante.</p>
                <br>
                <div class="form-check form-check-inline form-switch" style="color:whitesmoke; font-size: 18px; color: whitesmoke">
                    <input class="form-check-input" type="radio" name="opcion" role="switch" id="opcion3" value="option3"
                           data-bs-toggle="collapse" data-bs-target="#selec3" aria-expanded="false" 
                           aria-controls="opcion3">
                    <label class="form-check-label" for="opcion3">Reservar</label>
                </div>
            </div>
            <div id="imag_mesa3">
                <img src="/images/mesa3.jpg" width="355" height="250"/>
            </div>



            <div id="mesa4" style="padding-left: 1%; padding-top: 1%">
                <p style="font-size: 24px"><strong>VIP</strong></p>
                <br>
                <p style="text-align: justify">Sólo lo mejor de lo mejor, para que disfrutes de la manera más exclusiva posible, donde la comodida es una realidad.</p>
                <br>
                <div class="form-check form-check-inline form-switch" style="color:whitesmoke; font-size: 18px; color: whitesmoke">
                    <input class="form-check-input" type="radio" name="opcion" role="switch" id="opcion4" value="option4"
                           data-bs-toggle="collapse" data-bs-target="#selec4" aria-expanded="false" 
                           aria-controls="opcion4">
                    <label class="form-check-label" for="opcion4">Reservar</label>
                </div>
            </div>
            <div id="imag_mesa4">
                <img src="/images/mesa4.jpg" width="355" height="250"/>
            </div>

        </div>

        <br>
        <br>
        <br>
        <div class="collapse" id="selec1">

            <section class="infoReservacion" style="padding-left: 4%" required="true"> 

                <p style="font-size: 38px">Información de la Reserva</p>

                <br>
                <br>

                <form th:action="@{/mesaRomantica}" th:object="${reserva}"
                      method = "POST" style="width: 25%; color: silver" class="was-validated" modelAttribute="reserva"> 

                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required="true" th:field="*{nombre}">
                        <label for="nombre">Nombre</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required="true" th:field="*{apellidos}">
                        <label for="apellidos">Apellidos</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cedula" placeholder="Cédula" required="true" th:field="*{cedula}">
                        <label for="cedula">Cédula</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="telefono" placeholder="Telefono" required="true" th:field="*{telefono}">
                        <label for="telefono">Telefono</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad de Personas" required="true" th:field="*{cant_personas}">
                        <label for="cant_personas">Cantidad de Personas</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="date" class="form-control" id="fecha" placeholder="Fecha a Reservar" required="true" th:field="*{dia_reserva}">
                        <label for="fecha">Fecha a Reservar</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="time" class="form-control" id="hora" placeholder="Hora a Reservar" required="true" th:field="*{hora_reserva}">
                        <label for="hora">Hora a Reservar</label>
                    </div>
                    <br>
                    <input type="checkbox" name="check" id="tyc" required="true">
                    <label for="checkbox1">Acepto los términos y condiciones</label>
                    <br>
                    <button type="submit" class="btn btn-warning" role="button">Reservar</button>
                    <br><br>
                    <br><br><br>
                    <br>
                </form>
        </div>





        <div class="collapse" id="selec2">

            <section class="infoReservacion" style="padding-left: 4%"> 

                <p style="font-size: 38px">Información de la Reserva</p>

                <br>
                <br>

                <form th:action="@{/mesaSencilla}" th:object="${reserva}"
                      method = "POST" style="width: 25%; color: silver" class="was-validated" modelAttribute="reserva"> 

                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required="true" th:field="*{nombre}">
                        <label for="nombre">Nombre</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required="true" th:field="*{apellidos}">
                        <label for="apellidos">Apellidos</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cedula" placeholder="Cédula" required="true" th:field="*{cedula}">
                        <label for="cedula">Cédula</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="telefono" placeholder="Telefono" required="true" th:field="*{telefono}">
                        <label for="telefono">Telefono</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad de Personas" required="true" th:field="*{cant_personas}">
                        <label for="cant_personas">Cantidad de Personas</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="date" class="form-control" id="fecha" placeholder="Fecha a Reservar" required="true" th:field="*{dia_reserva}">
                        <label for="fecha">Fecha a Reservar</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="time" class="form-control" id="hora" placeholder="Hora a Reservar" required="true" th:field="*{hora_reserva}">
                        <label for="hora">Hora a Reservar</label>
                    </div>
                    <br>
                    <input type="checkbox" name="check" id="tyc" required="true">
                    <label for="checkbox1">Acepto los términos y condiciones</label>
                    <br>
                    <button type="submit" class="btn btn-warning" role="button">Reservar</button>
                    <br><br>
                    <br><br><br>
                    <br>
                </form>
        </div>





        <div class="collapse" id="selec3">

            <section class="infoReservacion" style="padding-left: 4%"> 

                <p style="font-size: 38px">Información de la Reserva</p>

                <br>
                <br>

                <form th:action="@{/mesaEjecutiva}" th:object="${reserva}"
                      method = "POST" style="width: 25%; color: silver" class="was-validated" modelAttribute="reserva"> 

                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required="true" th:field="*{nombre}">
                        <label for="nombre">Nombre</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required="true" th:field="*{apellidos}">
                        <label for="apellidos">Apellidos</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cedula" placeholder="Cédula" required="true" th:field="*{cedula}">
                        <label for="cedula">Cédula</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="telefono" placeholder="Telefono" required="true" th:field="*{telefono}">
                        <label for="telefono">Telefono</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad de Personas" required="true" th:field="*{cant_personas}">
                        <label for="cant_personas">Cantidad de Personas</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="date" class="form-control" id="fecha" placeholder="Fecha a Reservar" required="true" th:field="*{dia_reserva}">
                        <label for="fecha">Fecha a Reservar</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="time" class="form-control" id="hora" placeholder="Hora a Reservar" required="true" th:field="*{hora_reserva}">
                        <label for="hora">Hora a Reservar</label>
                    </div>
                    <br>
                    <input type="checkbox" name="check" id="tyc" required="true">
                    <label for="checkbox1">Acepto los términos y condiciones</label>
                    <br>
                    <button type="submit" class="btn btn-warning" role="button">Reservar</button>
                    <br><br>
                    <br><br><br>
                    <br>
                </form>
        </div>



        <div class="collapse" id="selec4">

            <section class="infoReservacion" style="padding-left: 4%"> 

                <p style="font-size: 38px">Información de la Reserva</p>

                <br>
                <br>

                <form th:action="@{/mesaVIP}" th:object="${reserva}"
                      method = "POST" style="width: 25%; color: silver" class="was-validated" modelAttribute="reserva"> 

                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required="true" th:field="*{nombre}">
                        <label for="nombre">Nombre</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required="true" th:field="*{apellidos}">
                        <label for="apellidos">Apellidos</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cedula" placeholder="Cédula" required="true" th:field="*{cedula}">
                        <label for="cedula">Cédula</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="telefono" placeholder="Telefono" required="true" th:field="*{telefono}">
                        <label for="telefono">Telefono</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad de Personas" required="true" th:field="*{cant_personas}">
                        <label for="cant_personas">Cantidad de Personas</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="date" class="form-control" id="fecha" placeholder="Fecha a Reservar" required="true" th:field="*{dia_reserva}">
                        <label for="fecha">Fecha a Reservar</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="time" class="form-control" id="hora" placeholder="Hora a Reservar" required="true" th:field="*{hora_reserva}">
                        <label for="hora">Hora a Reservar</label>
                    </div>
                    <br>
                    <input type="checkbox" name="check" id="tyc" required="true">
                    <label for="checkbox1">Acepto los términos y condiciones</label>
                    <br>
                    <button type="submit" class="btn btn-warning" role="button">Reservar</button>
                    <br><br>
                    <br><br><br>
                    <br>
                </form>
        </div>



    </section>

    <footer th:replace="layout/plantilla :: footer" />
</body>
</html>
