<html>
    <head th:replace="layout/plantilla :: head">
        <title>Restaurante La Hoja de Palma</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br>
        <br>
        <h2 class="titulo">Receta Hamburguesa Clásica</h2>

        <aside id="barraIngredientes" style="text-align: center">
            <br>
            <h2 >Ingredientes</h2>
            <br><br>

            <p>- Carne Molida</p>
            <p>- Pimienta</p>
            <p>- Cebolla</p>
            <p>- Tocino</p>
            <p>- Tomate</p>
            <p>- Queso</p>
            <p>- Sal</p>
            <p>- Lechuga</p>
            <p>- Mostaza</p>

        </aside>


        <section id="contenidoReceta" style="color: white" >
            <br>
            <p>Una hamburguesa clásica pero con un ligero cambio que aumenta su calidad y sabor,
            con la explicación del gran chef Oscar Meza</p>
            <br>
            <h2>Preparación:</h2>
            <br>
            <article>
                <header><h4>Video explicación de como preparar la hamburguesa</h4></header>
                <br>
                <iframe width="902" height="507" src="https://www.youtube.com/embed/Jz0xATKgtLE" title="Hamburguesa Clásica a la parrilla | La Capital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>

        </section>

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>